
body{
   background-image: linear-gradient(rgba(61,133,198), rgba(159,197,232))!important;
}
a{
  text-decoration: none !important;
}

.navbar-custom{
  top:0;
  left: 15px;
}
.ExpenseChart{
  background-color: rgba(146,203,255);
  margin: 10%;
}
.Add{
  margin-top: 1rem!important;
  margin-bottom:  2rem;
}
.GetRecent{
  background-color: rgba(5,113,217,0.7)!important;
  margin-bottom: 1rem ;
  height: 50%;
}
.GetIncome{
  background-color: lightgreen !important;
  margin-bottom: 1rem ;
  height: 50%;
}

.GetExpense{
  background-color: rgba(182,113,124, 0.8) !important;
  margin-bottom: 1rem ;
  height: 50%;
}
.ExTitle{
      color: rgba(0,0,0,0.78) !important;
}
.Heading{
    margin-bottom: 2rem;
}
.incomeTitle{
  color: #8850be;
  font-size: 3rem ;
}
.incomeAmount{
  font-size: 3rem ;
  color: green;
}
.expenseTitle{
  font-size: 3rem ;
  color: #8850be;
}
.expenseAmount{
  font-size: 3rem ;
  color: red;
}
