body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #1e1e1e;
    height: 60px;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    transition: max-height 0.3s;
}

.nav-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links ul li {
    margin-left: 20px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
}

.container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: 50px auto 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.income-expense-form {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333333;
    color: #ffffff;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #6200ee;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #3700b3;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #6200ee;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #3700b3;
}

.records {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.chart{
  background-color: #343434;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}


.records h3 {
    text-align: center;
    margin-bottom: 20px;
}

.records ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.records ul li {
    background-color: #333333;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.record-list{
   text-align:center;
}
.add-page {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
}

a{
  text-decoration: none;
  color: inherit;
}
